.post-content {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: var(--chakra-space-3);
    font-family: var(--chakra-fonts-heading);
  }

  h2 {
    font-size: var(--chakra-fontSizes-3xl);
    font-weight: var(--chakra-fontWeights-bold);
  }

  h3 {
    font-size: var(--chakra-fontSizes-2xl);
    font-weight: var(--chakra-fontWeights-bold);
  }

  p {
    font-size: var(--chakra-fontSizes-lg);
    line-height: var(--chakra-lineHeights-tall);

    & + p {
      margin-top: var(--chakra-space-5);
    }
  }

  a {
    color: var(--chakra-colors-primary-500);
    font-weight: var(--chakra-fontWeights-semibold);
  }

  ul {
    li {
      font-size: var(--chakra-fontSizes-md);
      margin-left: var(--chakra-space-5);
      line-height: var(--chakra-lineHeights-tall);
      & + li {
        margin-top: var(--chakra-space-4);
      }
    }
  }

  .wp-block-image {
    img {
      border-radius: var(--chakra-radii-base);
    }
    figcaption {
      font-size: var(--chakra-fontSizes-sm);
      color: var(--chakra-colors-gray-400);
      line-height: var(--chakra-lineHeights-tall);
    }
  }

  .wp-block-columns {
    &.characters {
      p {
        font-size: var(--chakra-fontSizes-md);
      }
    }
  }
}
